body {
  background: linear-gradient(45deg, #30cfd0, #330867);
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  z-index: 999;
}
.laptop {
  width: 100px;
}

.top_logo {
  display: inline-flex;
}
.logo_text {
  position: absolute;
  margin-top: 40px;
  font-weight: bold;
  font-size: large;
  width: 100px;
  margin-left: 130px;
}
.logo-desk {
  position: absolute;
  margin-top: 70px;
  margin-left: 100px;
  border-bottom: black;
  border-bottom-width: 100px;
}

.avatar_hedder {
  margin-left: 1200px;
  width: 150px;
  height: 150px;
  border-radius: 90%;
  border-color: black;
  border-width: 5px 5px 5px 5px;
  border-style: solid;
}
.kb1 {
  margin-top: 200px;
  margin-left: 1200px;
  width: 300px;
}
.laptop2 {
  margin-top: -100px;
  margin-left: 1000px;
  width: 300px;
}
.tablisa {
  border-top: black;
  border-right: black;
  border-bottom: black;
}
.text {
  margin-top: -550px;
  position: absolute;
  font-weight: bold;
  font-size: large;
  width: 500px;
}

.images_8 {
  position: absolute;
}

.hds {
  width: 400px;
  margin-bottom: -710px;
  max-width: 100%;
}
